.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    
}

.zee{
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    padding-left: 40px;
    margin-right: 200px;
    
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
    font-size: 20px;
    margin-top: 25px;
    margin-right: 200px;


}

.nav-menu li {
    color: black
}


@media screen and(max-width: 900px) {
    .navbar {
        display: none;

    }
}